
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.centerpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height:300px;
  width: 300px;
}
.center2 {
  height: 350 px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.button1 {
  padding:0.6em 10em;
  
  border-radius: 8px;
  color:#f5f0f0;
  background-color:#1f1b1b;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:0.8em 2.5em;
  font-family: 'Zen Dots', cursive;
  margin-left: 250px;
  
}
#credits
{

  background :#4a4946;
  color:#e6e1e1;
  align:right;
  font-family: 'Zen Dots', cursive;
  font-size:15px;
  
}
.container{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  height:100px;
  
  
}
.one{
  flex-grow: 4;
  background:#ffc714;
  color:#ffc714;
}
.two{
  flex-grow: 4;
  background:#79d2ed;
  color:#79d2ed;
}
.three{
  flex-grow: 4;
  background:#e60909;
  color:#e60909;
}
.super
{
  font-size:100px;
  font-family: 'Zen Dots', cursive;
  margin:10px;
  text-align:center;
  text-color:"#ff5fff";
}
.bitsat-score
{

  font-family: 'Zen Dots', cursive;
  
  text-align:center;
  font-size:30px;
}

.pilani
{
  margin:10px;
}
#campus
{
  margin:1px;
}
.spacing
{
  margin:50px;
}
#branch
{
  margin:10px;
}
#progress {
  
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}
#dot {
  margin : 35px;
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
  border-radius: 4em;
  background: green;
  text-size: 2em;
  
  display: inline-block;
  color: white;
  position: relative;
}
.list-inline
{
  margin:20px;
}
#stripe
{
  font-family: 'Zen Dots', cursive;
  
  margin:1px;
}
#equalizer
{
  color:white;
}
#cover
{
  margin-left:250px;
  
}
#cover2
{
  
 font-family: 'Zen Dots', cursive;
 margin-left:525px;
  
}
#cover3
{
  margin-left: 5px;
}

.coverup
{
   font-family: 'Zen Dots', cursive;
   text-align: center;
   font-size: 25px;


}

.container0 {
  display: flex;
  flex-direction: row;
  height: 100px; /* or inline-flex */
}
#cover4
{
  
 font-family: 'Zen Dots', cursive;
 margin-left:550px;
  
}
#cover5
{
  
 font-family: 'Zen Dots', cursive;
 margin-left:75px;
  
}

#cover6
{
  
 font-family: 'Zen Dots', cursive;
 margin-left:325px;
  
}
.feet
{
 text-align: center;
}
.bitsat-score1
{
  margin-left: 500px;
  font-family: 'Zen Dots', cursive;
  
  text-align:center;
  font-size:30px;
}

